<div id="menu-screen">
	<ul>
		<li class="menu-option" ng-mouseenter="ship_hover=true" ng-mouseleave="ship_hover=false" ng-click="ch_main('ship')">
			<img ng-hide="ship_hover" src="img/ship_ico.png"><img ng-show="ship_hover" src="img/hover_ship_ico.png"><br>Ship
		</li>
		<li class="menu-option" ng-mouseenter="storage_hover=true" ng-mouseleave="storage_hover=false" ng-click="ch_main('storage')">
			<img ng-hide="storage_hover" src="img/storage_ico.png"><img ng-show="storage_hover" src="img/hover_storage_ico.png"><br>Storage
		</li>
	</ul>
</div>