<div>
	<table>
		<tr>
			<th>{{currentDB.name}}</th>
		</tr>
		<tr>
			<td>Gas:</td>
			<td>{{currentDB.gas}}</td>
		</tr>
		<tr>
			<td>Battery:</td>
			<td>{{currentDB.battery}}</td>
		</tr>
		<tr>
			<td>Credits:</td>
			<td>{{currentDB.credits}}</td>
		</tr>
		<tr>
			<td>Explorers:</td>
			<td>{{currentDB.services.explorer.qty}}</td>
		</tr>
		<tr>
			<td>Miners:</td>
			<td>{{currentDB.services.miner.qty}}</td>
		</tr>
		<tr>
			<td>Builders:</td>
			<td>{{currentDB.services.builder.qty}}</td>
		</tr>
	</table>
</div>